@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

:root {
  --primary-1: #817c9b;
  --primary-2: #1a1053;
  --accent-1: #f9fcff;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--primary-1);
  background-color: var(--accent-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 600;
}

h1 {
  color: var(--primary-2);
}
