@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

:root {
  --primary-1: #817c9b;
  --primary-2: #3b3858;
  --primary-3: #6236ff;

  --accent-1: #64e5f9;
  --accent-2: #ff6496;

  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-2);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-2);
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}

h5 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--accent-2);
}

h6 {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}

p {
  margin-top: 0;
  margin-bottom: 30px;
}

svg {
  display: block;
}

.st0 {
  fill: none;
  stroke: var(--primary-2);
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st1 {
  fill: var(--accent-1);
}

.st2 {
  fill: none;
  stroke: var(--primary-2);
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st3 {
  fill: var(--accent-2);
}

.st4 {
  display: none;
}

.st5,
.st6 {
  display: inline;
}

.st6 {
  fill: var(--accent-2);
}

.st7,
.st8 {
  fill: none;
  stroke: var(--primary-2);
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st8 {
  stroke: var(--accent-2);
  stroke-width: 24;
}

.st9,
.st10 {
  fill: none;
  stroke: var(--primary-2);
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st10 {
  stroke: var(--accent-1);
}

.st11 {
  fill: var(--primary-2);
}

.st12,
.st13 {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st12 {
  stroke: var(--primary-2);
}

.st13 {
  stroke: var(--white);
}

.recharts-text {
  font-size: 14px;
}
